body {
  color: #333;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.dark {
  background: #333;
  color: gray;
}

/*HEADER*/

header section {
  display: flex;
  justify-content: space-between;
}

nav ul{
  display: flex;
  flex-direction: row;
}

ul li {
  padding: 1em;
}

ul {
  list-style: none;
  background: black;
  padding-left: 0;
}

ul a {
  color: inherit;
  text-decoration: none;
}

.fa-bars {
  display: none;
}

/*MAIN*/

.articles {
  display: flex;
}

.post {
  float: left;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.logo {
  width: 30%;
  margin: 0;
}

.banner {
  width: 60%;
  margin: 0;
}

/*FOOTER*/

footer {
  padding: 1em;
}

/*MEDIA*/

@media (max-width: 800px) {
  .articles {
    flex-direction: column;
  }
  .fa-bars {
    display: inline;
  }
  header nav {
    display: none;
  }
}
